<details class="relative">
  <summary class="h-full list-none [&::-webkit-details-marker]:hidden cursor-pointer <%= tab.classes %>">
    <%= tab.icon + tab.text + icons.chevron_down %>
  </summary>

  <div class="z-40 absolute mt-1 w-60 rounded border border-gray-300 shadow-lg py-1 bg-white divide-y divide-gray-200">
    <%= items %>
  </div>
</details>
